.widget {
  border: 20px solid;
  width: 46vw;
  margin: 1vw;

  .header {
    border: 3px solid #ddd;
    margin: 10px;
    padding-left: 20px;
  }

  .content {
    border: 3px solid #ddd;
    margin: 10px;
    height: 20vw;
  }
}
