<div class="widget">
  <div class="header">
    <h1>{{name}}</h1>
  </div>
  <div class="content">
    <div [ngSwitch]="type">
      <app-events-timeline *ngSwitchCase="widgetTypes.EVENTS_TIMELINE"></app-events-timeline>
      <app-top-risk-device *ngSwitchCase="widgetTypes.TOP_RISK_DEVICE"></app-top-risk-device>
      <app-top-active-users *ngSwitchCase="widgetTypes.TOP_ACTIVE_USERS"></app-top-active-users>
    </div>
  </div>
</div>
