<app-widgets-grid>
  <app-widget [type]="widgetTypes.TOP_RISK_DEVICE" name="Top risk devices" #widget></app-widget>
  <app-widget [type]="widgetTypes.TOP_ACTIVE_USERS" name="Top active users" #widget></app-widget>
  <app-widget [type]="widgetTypes.EVENTS_TIMELINE" name="Events timeline" #widget></app-widget>
</app-widgets-grid>
