<div class="top-active-users">
  <table>
    <thead>
      <tr>
        <th>Header1</th>
        <th>Header2</th>
        <th>Header3</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>Cell1</td>
      <td>Cell2</td>
      <td>Cell3</td>
    </tr>
    <tr>
      <td>Cell1</td>
      <td>Cell2</td>
      <td>Cell3</td>
    </tr>
    <tr>
      <td>Cell1</td>
      <td>Cell2</td>
      <td>Cell3</td>
    </tr>
    </tbody>
  </table>
</div>
